*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
p{
    line-height: 30px;
}
img {
    display: block;
    max-width: 100%;
}
/************************************************
    HEADER
*************************************************/
.header-bg{
    width: 100%;
}
.header-c{
    background-color: #dcdcdc;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.nav__list{
    display: flex;
}
.nav__link{
    color: rgb(40, 40, 40);
    padding: 5px;
    margin: 0 5px;
}
#nav__menu-m{
    display: none;
}
@media (max-width: 700px) {
    #nav__menu-m{
        display: block;
    }
    .nav__list{
        display: none;
        position: absolute;
        width: 40%;
        right: 0px;
        top: 90px;
        border: 2px solid rgba(0, 0, 0, 0.267);
        z-index: 1000;
        padding-bottom: 10px;
        text-align: center;
        background-color: #dcdcdc;
    }
    .nav__link{
        display: block;
        padding: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.411);
    }
    .nav.active .nav__list{
        display: block;
    } 
}

/************************************************
    Main
*************************************************/

main{
    max-width: 960px;
    margin: 0 auto;
}

/************************************************
    Section
*************************************************/

.introducao__titulo{
    text-align: center;
    font-size: 2.5rem;
    margin: 25px 0;
}
.introducao-c{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.introducao__texto{
    flex: 1 1 300px;
    font-size: 1.5rem;
    text-align: justify;
    padding: 10px;

}
.introducao__img {
    flex: 1 1 300px;
}
.introducao__img img {
    margin: 0 auto
}
